<template>
    <div class="columns">
        <div class="column is-2">
            <sidebar-authenticated></sidebar-authenticated>
        </div>
        <div class="column is-10">
            <router-view @passCategories="updateCategories" @budgetClicked="updateBudget" :budgetID="this.budgetID" :categories="this.categories"></router-view>
        </div>
    </div>
</template>

<script>
import SidebarAuthenticated from "./SidebarAuthenticated";

export default {
    components: {
        SidebarAuthenticated,
    },
    data(){
        return{
            budgetID: null,
            categories: [],
        }
    },
    methods: {
        updateBudget(value){
            console.log(value);
            this.budgetID = value;
        },
        updateCategories(value){
            this.categories = value;
        }
    }
}
</script>

<style scoped>

</style>
