<template>
<div class="container">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Budgets
                </h1>
                <h2 class="subtitle">
                    Here you can see budgets you created.
                </h2>
            </div>
        </div>
    </section>

    <div class="box">
        <b-button type="is-success" @click="modalShow = true">Add new budget</b-button>
    </div>
    <b-modal
        v-model="modalShow"
        has-modal-card
        trap-focus
        aria-role="dialog"
        aria-label="Add new budget"
        aria-modal>

        <form>
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add new budget</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Name">
                        <b-input
                            type="text"
                            v-model="newBudget.name"
                            placeholder="enter budget name..."
                            required
                        >
                        </b-input>
                    </b-field>
                    <b-field label="Currency">
                        <div class="select is-rounded">
                            <select label="Currency" v-model="newBudget.currency">
                            <option v-for="currency in currencies" :key="currency">{{currency}}</option>
                            </select>
                        </div>
                    </b-field>
                    <b-field label="Amount">
                        <b-input
                            type="text"
                            v-model="newBudget.amount"
                            placeholder="enter amount..."
                            required
                        >
                        </b-input>
                    </b-field>
                    <b-field label="Period">
                        <div class="select is-rounded">
                            <select label ="Period" v-model="newBudget.period">
                                <option v-for="period in periods" :key="period">{{period}}</option>
                            </select>
                        </div>
                    </b-field>

                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="Add"
                        type="is-primary"
                        @click="addBudget"
                    />
                </footer>
            </div>
        </form>
    </b-modal>

    <div class="box" v-for="budget in budgets">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{budget.name}}
                </p>
            </header>
            <div class="card-content">
                    <p class="card-item subtitle">
                        Expenditure limit is {{budget.amount}} <strong>{{budget.currency}}</strong> per {{budget.period}}
                    </p>
                    <br>
                    <p class="p-2"> Usage:</p>
                    <b-progress size="is-medium" :value="80" show-value format="percent"></b-progress>
                    <p class="card-item p-1">Created at {{ new Date(budget.created_at) | moment("D/MM/YYYY") }}</p>
            </div>
            <footer class="card-footer">
                <router-link to="/transactions"><span @click="passBudgetId(budget.id)">DETAILS</span></router-link>
                <a href="#" class="card-footer-item">Edit</a>
                <b-button type="is-danger" @click="removeBudget(budget)">Delete</b-button>
            </footer>
        </div>
    </div>
</div>
</template>
<script>

const newBudgetTemplate = {
    name: '',
    currency: '',
    amount: '',
    period: '',
}

export default {
    data() {
        return {
            budgets: [],
            currencies: ['PLN', 'USD', 'EUR', 'GBP', 'MXN', 'CZK', 'RUB'],
            periods: ['Day', 'Week', 'Month', 'Year'],
            modalShow: false,
            newBudget: {...newBudgetTemplate},
            errors: {}
        }
    },
    mounted() {
        axios
            .get('http://budget.local/budgets/get')
            .then(res => {
                this.budgets = res.data;
            })
            .catch(err => {
                console.warn(err);
            });

    },
    methods: {
        addBudget(){
            axios
                .post('http://budget.local/budget/create', this.newBudget)
                .then(res => {
                    this.newBudget = res.data;
                    this.budgets.push({...this.newBudget});
                })
                .catch(err => {
                    this.errors = err.response.data.errors;
                    console.warn(err);
                })
                .finally( () => {
                    this.modalShow = false
                    this.newBudget = {...newBudgetTemplate};
                })
        },
        removeBudget(value){
            axios
                .delete('http://budget.local/budget/remove/' + value.id)
                .then(res => {
                    this.budgets = this.budgets.filter(budget => budget !== value);
                })
                .catch(err => {
                    console.warn(err);
                })
            },
        passBudgetId(budget){
            this.$emit('budgetClicked', budget);
        }
        }
}
</script>

<style scoped>

</style>
