<template>
    <div>
    <div class="box">
        <b-button id="new" type="is-success" @click="modalShow = true">New transaction</b-button>
        <b-button @click="show">ss</b-button>
    </div>
    <b-table
        :data="transactions"
    >
        <b-table-column field="id" label="ID" width="40" numeric v-slot="props">
            {{ props.row.id }}
        </b-table-column>

        <b-table-column field="first_name" label="Name" v-slot="props">
            {{ props.row.name}}
        </b-table-column>
        <b-table-column field="first_name" label="Description" v-slot="props">
            {{ props.row.description}}
        </b-table-column>
        <b-table-column field="first_name" label="Amount" v-slot="props">
            {{ props.row.amount}}
        </b-table-column>
        <b-table-column field="first_name" label="Type" v-slot="props">
            {{ props.row.type}}
        </b-table-column>
        <b-table-column field="first_name" label="Budget" v-slot="props">
            {{ props.row.budget_id}}
        </b-table-column>
        <b-table-column field="first_name" label="Category" v-slot="props">
            {{ props.row.transaction_of_category_id}}
        </b-table-column>

        <b-table-column centered field="last_name" label="Delete" v-slot="props">
            <b-button type="is-danger is-small" @click="removeTransaction(props.row.id)">DELETE</b-button>
        </b-table-column>
    </b-table>

    <b-modal
        v-model="modalShow"
        has-modal-card
        trap-focus
        aria-role="dialog"
        aria-label="Add new transaction"
        aria-modal>

        <form>
            <div class="modal-card" style="width: auto">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add new transaction</p>
                </header>
                <section class="modal-card-body">
                    <b-field label="Name">
                        <b-input
                            type="text"
                            v-model="newTransaction.name"
                            placeholder="enter transaction name..."
                            required
                        >
                        </b-input>
                    </b-field>
                    <b-field label="Description">
                        <b-input
                            type="text"
                            v-model="newTransaction.description"
                            placeholder="enter transaction description..."
                            required
                        >
                        </b-input>
                    </b-field>
                    <b-field label="Amount">
                        <b-input
                            type="text"
                            v-model="newTransaction.amount"
                            placeholder="enter amount..."
                            required
                        >
                        </b-input>
                    </b-field>
                    <b-field label="Type">
                        <div class="select is-rounded">
                            <select label ="Type" v-model="newTransaction.type">
                                <option v-for="type in types" :key="type">{{type}}</option>
                            </select>
                        </div>
                    </b-field>
                    <b-field label="Category">
                        <div class="select is-rounded">
                            <select label ="Category" v-model="newTransaction.transaction_of_category_id">
                                <option v-for="category in categories" :key="category.id">{{category.id}}</option>
                            </select>
                        </div>
                    </b-field>
                    <b-field label="Budget">
                        <b-input
                            type="text"
                            v-model="newTransaction.budget_id"
                            placeholder="which budget?"
                            required
                        >
                        </b-input>
                    </b-field>


                </section>
                <footer class="modal-card-foot">
                    <b-button
                        label="Add"
                        type="is-primary"
                        @click="addTransaction"
                    />
                </footer>
            </div>
        </form>
    </b-modal>
</div>
</template>

<script>
const newTransactionTemplate = {
    name: '',
    description: '',
    amount: '',
    type: '',
    budget_id: '',
    transaction_of_category_id: ''
}

export default {
    data(){
        return {
            transactions: [],
            types:['Expenditure', 'Income'],
            newTransaction: {...newTransactionTemplate},
            errors: {},
            modalShow: false,
        }
    },
    props:{
        budgetID: Number,
        categories: Array,
    },
    mounted(){
        axios
            .get('/budget/' + this.budgetID + '/transactions')
            .then(res => {
                this.transactions = res.data;
            })
            .catch(err => {
                console.warn(err);
            });
    },
    methods: {
        addTransaction(){
            this.newTransaction.budget_id = this.budgetID;
            axios
                .post('http://budget.local/budget/transaction/new', this.newTransaction)
                .then(res => {
                    this.newTransaction = res.data;
                    console.log(this.newTransaction);
                    this.transactions.push({...this.newTransaction});
                })
                .catch(err => {
                    this.errors = err.response.data.errors;
                    console.warn(err);
                })
                .finally( () => {
                    this.modalShow = false;
                    this.newTransaction = {...newTransactionTemplate};
                })
        },
        removeTransaction(value){
            console.log(value);
            axios
                .delete('http://budget.local/transaction/remove/' + value)
                .then(res => {
                    this.transactions = this.transactions.filter(transaction => transaction !== value);
                })
                .catch(err => {
                    console.warn(err);
                })
        },
        show(){
            console.log(this.budgetID);
        }
    }
}
</script>

<style scoped>

</style>
