<template>
    <div class="container">
        <section class="hero is-primary">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Categories
                    </h1>
                    <h2 class="subtitle">
                        Here you can view all categories added.
                    </h2>
                </div>
            </div>
        </section>
        <div class="box">
            <b-button id="new" type="is-success" @click="modalShow = true">New category</b-button>
        </div>
        <b-table
            :data="categories"
            >

            <b-table-column field="id" label="ID" width="40" numeric v-slot="props">
                {{ props.row.id }}
            </b-table-column>

            <b-table-column field="first_name" label="Name" v-slot="props">
                {{ props.row.name }}
            </b-table-column>

            <b-table-column centered field="last_name" label="Color" v-slot="props">
                <div class="colors" :style="{backgroundColor: props.row.color}"> </div>
            </b-table-column>

            <b-table-column centered field="last_name" label="Delete" v-slot="props">
                <b-button type="is-danger is-small" @click="removeCategory(props.row)">DELETE</b-button>
            </b-table-column>

        </b-table>


        <b-modal
            v-model="modalShow"
            has-modal-card
            trap-focus
            aria-role="dialog"
            aria-label="Add new category"
            aria-modal>

            <form>
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Add new category</p>
                    </header>
                    <section class="modal-card-body">
                        <b-field label="name">
                            <b-input
                                type="name"
                                v-model="newCategory.name"
                                placeholder="Category name"
                                required>
                            </b-input>
                        </b-field>
                        <b-field label="color">
                            <b-input
                                type="color"
                                v-model="newCategory.color"
                                placeholder="Category color"
                                required
                                @input="updateColor"
                            >
                            </b-input>
                        </b-field>
                    </section>
                    <footer class="modal-card-foot">
                        <b-button
                            label="Add"
                            type="is-primary"
                            @click="addCategory"
                        />
                    </footer>
                </div>
            </form>
        </b-modal>
    </div>
</template>
<script>
const newCategoryTemplate = {
    name: '',
    color: '',
}

export default {
    data() {
        return {
            categories: [],
            modalShow: false,
            newCategory: {...newCategoryTemplate},
            errors: {},
        }
    },
    mounted() {
        axios
            .get('http://budget.local/categories/get')
            .then(res => {
                this.categories = res.data;
            })
            .catch(err => {
                console.warn(err);
            })
        .finally(()=> {
            this.passCategories();
        });
},
    methods: {
        addCategory() {
            axios
                .post('http://budget.local/categories/new', this.newCategory)
                .then(res => {
                    this.newCategory = res.data;
                    this.categories.push({...this.newCategory});
                })
                .catch(err => {
                    this.errors = err.response.data.errors;
                    console.warn(err);
                })
                .finally( () => {
                    this.modalShow = false;
                    this.newCategory = {...newCategoryTemplate};
                })
        },
        updateColor(value) {
            this.newCategory.color = value;
        },
        removeCategory(value){
            axios
                .delete('http://budget.local/categories/remove/' + value.id)
                .then(res => {
                    this.categories = this.categories.filter(category => category !== value);
                    this.successToast();
                })
                .catch(err => {
                    this.errors = err.response.data.errors;
                    console.warn(err);
                    this.errorToast();
                })
        },
        errorToast() {
            this.$buefy.snackbar.open({
                duration: 3000,
                message: 'Error deleting category. Category is used by an existing transaction.',
                type: 'is-danger',
                position: 'is-top-right',
            })
        },
        successToast() {
            this.$buefy.snackbar.open({
                duration: 3000,
                message: 'Category successfully deleted.',
                type: 'is-success',
                position: 'is-top-right',
            })
        },
        passCategories(){
            this.$emit('passCategories', this.categories);
        }
    },
}
</script>

<style scoped>
.colors{
    width: 30px;
    height: 20px;
    margin-right: auto;
    margin-left: auto;
}
#new {
    margin-top: 5px;
}

.modal-button {
    margin-top: 2px;
    margin-bottom: 2px;
}
</style>
