<template>
    <div class="sidebar-page">
        <section class="sidebar-layout">
            <b-sidebar
                position="static"
                :fullheight="fullheight"
                :mobile="mobile"
                :expand-on-hover="expandOnHover"
                :reduce="reduce"
                type="is-light"
                open
                ref="sidebar"
            >
<!--                <div class="p-1">-->
                    <div class="block">
                        <img
                            src="../../img/logo.jpg"
                            alt="Budget logo"
                        />
                    </div>
                    <b-menu class="is-custom-mobile p-2">
                        <b-menu-list label="Navigation">
                            <router-link :to="{ name: 'budgets' }" class="nav-link">My budgets</router-link>
                            <router-link :to="{ name: 'categories' }" class="nav-link" >Categories</router-link>
                        </b-menu-list>
                        <b-menu-list label="Account">
                            <a href="profile"><b-menu-item icon="logout" label="User profile"></b-menu-item></a>
                            <b-menu-item icon="logout" label="Logout"></b-menu-item>
                        </b-menu-list>
                    </b-menu>
<!--                </div>-->
            </b-sidebar>
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            expandOnHover: false,
            mobile: "reduce",
            reduce: false,
            fullheight: true,
            active: 'Home',
        };
    },
    mounted() {

    }
};
</script>

<style scoped lang="scss">
.p-1 {
    padding: 1em;
}
.sidebar-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .sidebar-layout {
        display: flex;
        flex-direction: row;
        min-height: 100%;
    }
}
@media screen and (max-width: 1023px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini-mobile {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .b-sidebar {
        .sidebar-content {
            &.is-mini {
                &:not(.is-mini-expand),
                &.is-mini-expand:not(:hover) {
                    .menu-list {
                        li {
                            a {
                                span:nth-child(2) {
                                    display: none;
                                }
                            }
                            ul {
                                padding-left: 0;
                                li {
                                    a {
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                    .menu-label:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.is-mini-expand {
    .menu-list a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
</style>
