<template>
    <div id="welcome">
    <section id="login">
        <form method="POST" @submit="login">
        <b-field label="Email"
                 type="is-info">
            <b-input type="email"
                     maxlength="30"
                     v-model="email">
            </b-input>
        </b-field>
        <b-field label="Password"
                 type="is-info">
            <b-input type="password"
                     password-reveal
                     v-model="password">
            </b-input>
        </b-field>
            <b-button tag="input"
                      native-type="submit"
                      value="Login" />
        <p>Don't have an account? <a href="register">Click here to create it.</a></p>
        </form>
    </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            email: '',
            password: '',
            error: null,
        }
    },
    methods: {
    login(){
        console.log(this.email + " " + this.password);
    }
},
}
</script>
<style scoped lang="css">
#welcome{
    background-color: #385d7a;
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

}
#login{
    color: #c0ddf6;
}
</style>
