<template>
            <div>
                <p>{{ this.userdetails}}</p>
            </div>
</template>

<script>
export default {
    name: "UserProfile",
    props: [
        'userdetails'
    ],
    data(){
        return{

        };
    },
    mounted() {
        console.log('Component mounted.');
        console.log(this.userdetails.name);
    },
    created(){

    }
}
</script>

<style scoped>

</style>
